.table{
    width: 100%;
    height: 100vh;
 padding: 50px;
 background: rgb(240, 202, 227);
    
}
.tablecontent{
    background: rgba(246, 223, 188, 0.718);  
    height: auto;
}
.tablecontent td button{
    font-size: 20px;
    width:60px;
    height: 20px;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    color:white;
    border-radius: 7px;
    background: blue;
    border: none

   
}